<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  This is just a tutorial, but if you want to ask me about it
  (no idea why you would!), reach me at 
  <a href="mailto:yo.larrysanger@gmail.com">yo.larrysanger@gmail.com</a>.
</p>
<p>
  <a href="/">Home</a> | <a href="/static_pages/about.html">About</a> |
  <a href="/static_pages/help.html">Help</a> | <a href="/static_pages/contact.html">Contact</a>
</p>