<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Help yourself, dammit!
</p>
<p>
  <a href="/">Home</a> | <a href="/static_pages/about.html">About</a> |
  <a href="/static_pages/help.html">Help</a> | <a href="/static_pages/contact.html">Contact</a>
</p>