<% provide(:title, "Home") %>
<h1>Home</h1>
<p>
  This is one of many copies of the home page of the <i>Ruby on Rails Tutorial</i> by Hartl.
</p>
<p>
  <a href="/">Home</a> | <a href="/static_pages/about.html">About</a> |
  <a href="/static_pages/help.html">Help</a> | <a href="/static_pages/contact.html">Contact</a>
</p>