<% if object.errors.any? %>
  <% full_messages = 
     object.errors.full_messages.uniq  # Discard duplicates. %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(full_messages.length, "error") %>.
    </div>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <div class="error_message">
          <li><%= msg %>.</li>
        </div>
      <% end %>
    </ul>
  </div>
<% end %>